html, body {
	height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding-top: 70px;
}

p { 
	display: inline-block;
	text-align: center;
}

.container {  
	background: #F1F3F4;
}

.page {
	height: 100%;
}

.page-movie.ng-enter {
	-webkit-animation: fadein .25s;
	-moz-animation: fadein .25s;
	-ms-animation: fadein .25s;
	-o-animation: fadein .25s; 
	animation: fadein .25s;
}

.page-movie.ng-leave {
	-webkit-animation: fadeout .25s;
	-moz-animation: fadeout .25s;
	-ms-animation: fadeout .25s;
	-o-animation: fadeout .25s; 
	animation: fadeout .25s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-o-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
