html, body {
	height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding-top: 70px;
}

p { 
	display: inline-block;
	text-align: center;
}

.container {  
	background: #F1F3F4;
}

.content {
	height: 100%;
}

