.navbar {
	color: white;
	background: #464E5B;
}

.navbar-brand.white {
	color: white;
	float: left;
}

.navbar-toggle.white {
	color: white;
	border: solid 1px white;
	float: right;
	padding-top: 0;
  padding-bottom: 0;
}

.glyphicon-menu-down {
	padding-top: 5px;
	padding-bottom: 10px; 
}

.glyphicon-film {
	font-size: 1em;
}

.nav.navbar-nav {
	float: right;
}

.navbar-nav>li>a {
	padding: 7px 10px;
}

.navbar-inverse .navbar-nav>li>a.white {
	color: white;
}

